{% extends 'base.html' %}
{% load static %}

{% block content %}

<body>
    <div class="wrap">
            <!-- tag -->
            <ul class = "intro_title">
                <div class="searcharea">
                    <h3><b>{{ query }}</b></h3>
                </div>
            </ul>
            <!-- // tag -->


        </div>



        <!-- research result -->
        <ul class="research-result">
            <li>
                <h3 class="result-text">검색어 : <b>{{ query }}</b></h3>    <!-- 검색어 출력 -->


                {% for product in products %}
                    <div style="width: 18rem;">
                        <div class="card-body">
                            <img class="card-img" src="/admin/image/">
                            <h4 class="card-text">{{product.cafe}} | {{product.name}}</h4>
                            <p class="card-text">{{product.price}}원</p>
                        </div>
                    </div>
                {% endfor %}
                {% if not products %}
                <h3 style = "text-align:center; margin-top:30px" >검색 결과가 없습니다.</h3>
                {% endif%}
                <a href="/recommend1" class="btn2" style="margin-left: 500px; width: 60px; text-align: center;">돌아가기</a>




            </li>

            <li>
                <h3 class="result-text">지도</h3>
            </li>
        </ul>
        <!-- // research result -->




    </div>
</body>
{% endblock %}