{% extends 'base.html' %}
{% load static %}

{% block content %}

<body>
    <div class="wrap">
            <!-- tag -->
            <ul class = "intro_title">
                <div class="searcharea">
                    <h3><b>{{ query }}</b></h3>
                </div>
            </ul>
            <!-- // tag -->


        </div>



        <!-- research result -->
        <ul class="research-result">
            <li>
                <h3 class="result-text">검색어 : <b>{{ query }}</b></h3>    <!-- 검색어 출력 -->


                {% for product in products %}
                    <div class="card" style="width: 18rem;">

                        <a href="../product/{{product.pk}}"><img class="card-img-top" src="{{product.imageURL}}"></a>
                        <div class="card-body">
                            <h4 class="card-text">{{product.name}}</h4>
                            <p class="card-text">{{product.price}}</p>
                        </div>
                    </div>
                {% endfor %}
                {% if not products %}
                <h3 style = "text-align:center; margin-top:30px" >no research</h3>
                <a href="/recommend1" style="margin-left:400px;margin-top:20px">return</a>
                {% endif%}



            </li>

            <li>
                <h3 class="result-text">지도</h3>
            </li>
        </ul>
        <!-- // research result -->




    </div>
</body>
{% endblock %}