{% extends 'base.html' %}
{% load static %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"
        integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>

<div class="wrap">
    <div class="header">
        <ul class = "intro_title">
            <div class="searcharea">
                <!-- 입력받은 값이 name인 keyword이며 action은 어떻게 작동할 것인가에 대한 것-->
                <!-- method는 어떤 방식으로 보낼 것 인가 / 검색 = get-->
                <form class="form-inline" action='/recommend2' method="get">
                    <input style="margin-bottom:1100px; margin-left: 380px; font-size: 30px;" type="search" placeholder="Search" name="keyword">
                </form>
            </div>
        </ul>
    </div>
</div>
        <!-- multiple filter -->
        <ul class="filter">

            <!-- cafe list -->
            <li>
                <h1 class="cafe">카페</h1>
                <section>
                    <div class="tag">
                        <form action="/recommend2" method="post">
                            <input type="checkbox" id="ab" name="cafe[]" value="투썸 플레이스"\>
                            <label for="ab">투썸 플레이스</label>
                        </form>
                    </div>



                    <div class="tag">
                        <form action="/recommend2" method="post">
                            <input type="checkbox" id="bc" name="cafe[]" value="이디야"\>
                            <label for="bc">이디야</label>
                        </form>
                    </div>

                    <div class="tag">
                        <form action="/recommend2" method="post">
                            <input type="checkbox" id="cd" name="cafe[]" value="스타벅스"\>
                            <label for="cd">스타벅스</label>
                        </form>
                    </div>



                    <div class="tag">
                        <form action="/recommend2" method="post">
                            <input type="checkbox" id="de" name="cafe[]" value="할리스"\>
                            <label for="de">할리스</label>
                        </form>
                    </div>



                    <div class="tag">
                        <form action="/recommend2" method="post">
                            <input type="checkbox" id="ef" name="cafe[]" value="메가커피"\>
                            <label for="ef">메가커피</label>
                        </form>
                    </div>



                    <div class="tag">
                        <form action="/recommend2" method="post">
                            <input type="checkbox" id="fg" name="cafe[]" value="공차"\>
                            <label for="fg">공차</label>
                        </form>
                    </div>



                    <div class="tag">
                        <form action="/recommend2" method="post">
                            <input type="checkbox" id="gh" name="cafe[]" value="커피번"\>
                            <label for="gh">커피빈</label>
                        </form>
                    </div>



                    <div class="tag">
                        <form action="/recommend2" method="post">
                            <input type="checkbox" id="hi" name="cafe[]" value="백다방"\>
                            <label for="hi">백다방</label>
                        </form>
                    </div>

                </section>
            </li>
            <!-- // cafe list -->





            <!-- drink list -->
            <li>
                <h1 class="drink">음료</h1>
                <section>

                    <div class="div">
                        <form action="/recommend2" method="post">
                            <input type="checkbox" id="a1" name="drink[]" value="커피/라떼"\>
                            <label for="a1">커피/라떼</label>
                        </form>
                    </div>



                    <div class="div">
                        <form action="/recommend2" method="post">
                            <input type="checkbox" id="b2" name="drink[]" value="티/티 라떼"\>
                            <label for="b2">티/티 라떼</label>
                        </form>
                    </div>



                    <div class="div">
                        <form action="/recommend2" method="post">
                            <input type="checkbox" id="c3" name="drink[]" value="에이드/스무디"\>
                            <label for="c3">에이드/스무디</label>
                        </form>
                    </div>



                    <div class="div">
                        <form action="/recommend2" method="post">
                            <input type="checkbox" id="d4" name="drink[]" value="프라페"\>
                            <label for="d4">프라페</label>
                        </form>
                    </div>



                    <div class="div">
                        <form action="/recommend2" method="post">
                            <input type="checkbox" id="e5" name="drink[]" value="생과일 주스"\>
                            <label for="e5">생과일 주스</label>
                        </form>
                    </div>



                    <div class="div">
                        <form action="/recommend2" method="post">
                            <input type="checkbox" id="f6" name="drink[]" value="차"\>
                            <label for="f6">차</label>
                        </form>
                    </div>


                </section>
            </li>
            <!-- // drink list -->


            <!-- price list -->
            <!-- http://happycgi.com/17178#2 '가격 검색에 이용가능한 가격 슬라이드 JQuery' 인용-->
            <li>
                <h1 class="tax">가격</h1>
                <section>
                    <div id="wrap" >
                        <div class="slider-price-wrap">
                            <div id="priceRangeSet" class="slider-price ui-slider-horizontal ui-widget wi-widget-content ui-corner-all">

                            <div class="ui-slider-range ui-widget-header" style="left: 0%; width:100%;"></div>
                                <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%"></a>
                                <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 100%"></a>
                            </div>
                            <div class="slider-result">

                                <form class = "left" action="/recommend2" method="get">
                                    <input type="text" class="num" id="priceRangeMin" name="priceRangeMin" title="가격 최소값(숫자만 입력 가능, 0이상)" style="ime-mode:disabled;" onkeypress="txtOnlyNum(event)" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')"  />
                                    <span class="unit">원</span>
                                </form>

                                <form class = "right" action="/recommend2" method="get">
                                    <input type="text" class="num" id="priceRangeMax" name="priceRangeMax" title="가격 최대값 (숫자만 입력 가능)" style="ime-mode:disabled;" onkeypress="txtOnlyNum(event)" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')"  />
                                    <span class="unit">원</span>
                                </form>
                            </div>
                        </div><!-- // slider-price-wrap -->

                    </div>
                </section>
                <!-- // wrap -->

                <!-- 스크립트 -->
                <script>
                var numberSetComma = function(val){
                 while (/(\d+)(\d{3})/ .test(val.toString())){
                    val = val.toString().replace( /(\d+)(\d{3})/, '$1' + ',' + '$2' );
                 }
                 return val;
                };
                var numberDelComma = function(val){
                 return parseInt(val.replace(/,/g, ""));
                };
                var txtOnlyNum = function(e){
                    var keycode = (window.netscape) ? e.which : e.keyCode;
                    if(!(keycode == 0 || keycode == 8 ||(keycode >=48 && keycode <= 57 ))){
                        if(window.netscape){
                            e.preventDefault();
                        }else{
                            e.returnValue = false;
                        }
                    }
                }
                var initPriceRange = function(minVal,maxVal){
                    //슬라이더 init
                    var priceRS = $("#priceRangeSet");
                    var priceRMax = $("#priceRangeMax");
                    var priceRMin = $("#priceRangeMin");

                    priceRS.slider({
                        range: true,
                        min: minVal,
                        max: maxVal,
                        values: [ minVal, maxVal ],
                        slide: function( event, ui ) {
                            priceRMin.val(numberSetComma(ui.values[0]));
                            priceRMax.val(numberSetComma(ui.values[1]));
                        }
                    });
                    //텍스트 폼에 최초 최대값 세팅
                    priceRMin.val(numberSetComma(priceRS.slider( "values", 0 ))).attr("title","가격 최소값(숫자만 입력 가능, " + numberSetComma(priceRS.slider( "values", 0 )) + " 이상)");
                    priceRMax.val(numberSetComma(priceRS.slider( "values", 1 ))).attr("title","가격 최대값(숫자만 입력 가능, " + numberSetComma(priceRS.slider( "values", 1 )) + " 이하)");

                    //접근성 처리를 위한 텍스트 폼과 slider UI 연동
                    priceRMin.bind({
                        keyup : function(){
                            if($(this).val().length > 0){
                                $(this).val(numberSetComma(numberDelComma($(this).val())));
                            }
                        },
                        blur : function(){
                            var originNum = numberDelComma($(this).val());
                            var maxFormVal = numberDelComma(priceRMax.val());
                            if(originNum < minVal){
                                alert("최소 기준가격은  " + numberSetComma(minVal) + "원 입니다. 최소 기준가격 이상으로 입력해주세요.");
                                $(this).val(numberSetComma(minVal));
                                $(this).focus();
                            }
                            if(originNum >= maxFormVal){
                                alert("가격 검색 시작값이 끝값보다 크거나 같습니다. 끝값인 " + priceRMax.val() + "보다 작은 값을 입력해주세요.");
                                $(this).val(numberSetComma(minVal));
                                $(this).focus();
                            }
                            priceRS.slider({values : [numberDelComma(priceRMin.val()), numberDelComma(priceRMax.val())]});
                        }
                    });
                    priceRMax.bind({
                        keyup : function(){
                            if($(this).val().length > 0){
                                $(this).val(numberSetComma(numberDelComma($(this).val())));
                            }
                        },
                        blur : function(){
                            var originNum = numberDelComma($(this).val());
                            var minFormVal = numberDelComma(priceRMin.val());
                            if(originNum > maxVal){
                                alert("최대 기준가격은  " + numberSetComma(maxVal) + "원 입니다. 최대 기준가격 이하로 입력해주세요.");
                                $(this).val(numberSetComma(maxVal));
                                $(this).focus();
                            }
                            if(originNum <= minFormVal){
                                alert("가격 검색 끝값이 시작값보다 작거나 같습니다. 시작값인 " + priceRMin.val() + "보다 큰 값을 입력해주세요.");
                                $(this).val(numberSetComma(maxVal));
                                $(this).focus();
                            }
                            priceRS.slider({values : [numberDelComma(priceRMin.val()), numberDelComma(priceRMax.val())]});
                        }
                    });
                };

                $(function(){
                    initPriceRange(0,50000); //로드시 혹은 로드 후 리스팅된 상품가격의 최소 최대값
                });
                </script>
                <!-- // price list -->



                <!-- transport button -->
                <div class="transport">
                    <a href='/recommend2' class="btn1" >검색</a>
                    <a href="" class="btn2" >초기화</a>
                </div>
                <!-- // transport button -->

            </li>

        </ul>
        <!-- // multiple filter -->

{% endblock %}