*{
    font-family: 'Jua', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: black;
}

.intro_bg{
    background-image: url("../img/cafeimage.jpg");
    background-size: cover;
    height: 718px;
}

/* 페이지 맨 윗 부분 */
.header{
    display:flex;
    width: 1280px;
    height: 86px;
    margin: auto;
}

.logo{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    margin-top: 24px;
}

.logoname{
    color: white;
    border: none;
    width: 250px;
    height: 40px;
    padding-left:10px;
    padding-top:20px;
    font-weight: bold;
    font-size:40px;
}

.nav{
    display: flex;
    justify-content: flex-end;
    line-height: 86px;
    width:calc(1280px - 300px);
    color: white;
    margin-left: 400px;
}

.nav > li{
    margin-left: 84px;
}

.nav > li  > a{
    color: white;
}
/* 페이지 맨 윗 부분 */












/* 검색창 */
.intro_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height:calc(718px - 86px);
    padding-top: 200px;
}

.searcharea > form > input{
    border: none;
    width: 500px;
    height: 80px;
    background-color: rgba(0,0,0,0.3);
    color:white;
    border-radius:10px;
    text-align: center;
}
/* 검색창 */



/* 태그 */
.intro_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: calc(718px - 86px);
    padding-top: 200px;
}

.searcharea >  p{
    border: none;
    width: 1000px;
    height: 80px;
    background-color: transparent;
    font-size: 30px;
    color:white;
    padding-left: 10px;
    border-radius:10px;
}

/* 태그 */





/* research result*/
.research-result{
    display: flex;
    background-color: white;
    position: relative;
    top: 100px;
    width:1280px;
    height: 700px;
    margin:0 auto;
    padding-bottom: 50px;
    border-bottom: 1px;
    box-shadow: 2px 2px 2px 2px rgba(255,255,255,0.1);
    margin-bottom: 50px;
}

.research-result > li{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 640px;
    height: 700px;
}


.research-result > li > h3{
    text-align : center;
    padding-bottom : 20px;
}

.result-text{
    border-bottom: 3px solid rgb(189, 189, 189);
}
/* research result */






/* 다중 필터 */
.filter{
    display: flex;
    background-color: white;
    position: relative;
    top: -66px;
    width:1290px;
    height: 400px;
    margin:0 auto;
    padding-bottom: 50px;
    border-bottom: 1px;
    box-shadow: 2px 2px 2px 2px rgba(255,255,255,0.1);
    margin-bottom: 50px;
}

.filter > li{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 430px;
    height: 400px;
}





/* 다중 필터 > 제목 태그 */
.cafe{
    font-family: "Roboto", sans-serif;
    margin: 16px 0;
    border-left: 5px solid #e84c3c;
    color: #2c3e50;
    padding-left: 16px;
    margin-left: 5px;
}

.drink{
    font-family: "Roboto", sans-serif;
    margin: 16px 0;
    border-left: 5px solid green;
    color: #2c3e50;
    padding-left: 16px;
    margin-left: 5px;
}

.price{
    font-family: "Roboto", sans-serif;
    margin: 16px 0;
    color: #2c3e50;
    padding-left: 16px;
    margin-left: 5px;
}
/* 다중 필터 > 제목 태그 */




/* 다중 필터 > 선택창 */
.filter > li > section{
    border-top: 3px solid rgba(0,0,0,0.1);
}

.filter > li > section > div{
    padding: 8px 24px;
    margin: 8px;
}

input[type="checkbox"]{
    display: none;
}

label{
    position: relative;
}

label::before{
    content: "";
    background: url("./image/check-circle.svg");
    background-position: center;
    background-size: contain;
    width: 24px;
    height: 24px;
    position: absolute;
    left: -44px;
    top: 0px;

    transform: scale(0) rotateZ(180deg);
    transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
}

input[type="checkbox"]:checked +  label::before{
    transform: scale(1) rotateZ(0deg);
}

label::after{
    content: "";
    border: 2px solid #27ae60;
    width: 18px;
    height: 18px;
    position: absolute;
    left: -42px;
    top: 2px;
    border-radius: 50%;
}
/* 다중 필터 > 선택창 */






/* 다중 필터 > 가격 > 스크롤바 */
::-webkit-input-placeholder{color:#ccc;}
::-moz-placeholder{color:#ccc;}
:-ms-input-placeholder{color:#ccc;}


#wrap{
    margin:0 auto;
}

#wrap h1{
    padding:20px 0;
    border-bottom:2px solid #aaa;
    margin-bottom:40px;
    font-size:24px;
    color:#000000;
    text-align:center;
}

#wrap h1 span{
    font-size:14px;
    color:#000;
}

.home{
    background:#e93a84;
    right:10px;
    top:10px;
    margin-right:inherit;
}


.slider-price{
    position:relative;
    margin:0 auto;
    width:222px;
    height:2px;
    background:#41465c;}

.slider-price .ui-slider-handle{
    position:absolute;
    top:-9px;
    width:18px;
    height:18px;
    margin-left:-9px;
    border-radius:50%;
    border:1px solid #41465c;
    background:#fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    outline:none;}

.slider-price .ui-slider-range{
    position:absolute;
    height:2px;
    background:#41465c;
}

.slider-price-wrap .slider-result{
    margin-top:20px;
    width:240px;
    font-size:14px;
}

.slider-price-wrap .slider-result:after{
    content:"";
    display:block;
    clear:both;
}

.slider-price-wrap .slider-result .left{
    float:left;
    width:50%;
}

.slider-price-wrap .slider-result .right{
    float:right;
    width:50%;
    text-align:right;
}

.slider-price-wrap .slider-result .num{
    font-size:14px;
    color:#000000;
    width:inherit;
}

.slider-price-wrap .slider-result .right .num{
    text-align:right;
}

.slider-price-wrap .slider-result .unit{
    position:relative;
    top:4px;
}
/* 다중 필터 > 가격 > 스크롤바 */





/* 다중 필터 > 저장/초기화 */
.transport{

    margin-left: 110px;
    margin-top: 220px;
}

.btn1{
    color: white;
    margin-right:30px;
    background-color: rgb(84, 84, 250);
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
}

.btn2{
    color: white;
    background-color: gray;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
}
/* 다중 필터 > 저장/초기화 */
/* 다중 필터 */




/* footer */
footer{
    position: relative;

      left: 0;

      bottom: 0;

      width: 100%;

      height: 150px;

      padding: 0;

      text-align: right;

      color: white;

      background: black;
  }

  footer a {
    display: inline-block;
    margin: 0 20px 10px 20px;
    color: #808080; font-size: 11px;
  }

  footer a:visited {
    color: #808080;
  }

  footer p {
    margin-top: 0; margin-bottom: 0;
  }

  footer p span {
    font-size: 15px;
    color: rgb(179, 178, 178);
    display: inline-block;
    margin-right: 60px;
}
/* footer */
