{% extends 'base.html' %}

{% load static %}
{% load socialaccount %}

{% block content %}

<body class="bg-gradient-success">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">DangCoffee</h1>
                                    </div>
                                    <h2>존재하지 않는 회원입니다. 다시 로그인 해주세요.</h2>
                                        <br/><br/><br/>

                                    <!-- 이게..어째서 갑자기 해결된 거지..? (type="button"->(데이터X)과 "submit"->(데이터O) 바꿔도 모르겠는데..?) -->
                                    <a href= "{% url 'accounts:login' %}">
                                        <input type="button" value="로그인 화면으로 이동" class="btn btn-success btn-user btn-block">
                                    </a>

                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="{% url 'accounts:signup' %}">회원이 아니신가요? 회원가입 하기</a>
                                    </div>
                                </div>
                            </div>
                    </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

{% endblock %}
