{% extends 'base.html' %}

{% load static %}
{% load socialaccount %}

{% block content %}

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4"> 회원 가입 </h1>
                                <h3>{{ error }}</h3>
                                <br>
                            </div>

                            <form class="user" method="POST" action=".">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="User name"
                                            placeholder="사용자 이름">
                                    </div>
                                </div>
                                <br>

                                <div class="form-group">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" name="User ID"
                                        placeholder="ID를 입력하세요.">
                                </div>
                                <br>

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user"
                                            name="Password" placeholder="비밀번호를 입력하세요.(8자리)">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                            name="Password (Repeat)" placeholder="비밀번호를 다시 입력하세요.">
                                    </div>
                                </div>
                                <br>

                                <input type="submit" value="Register Account" class="btn btn-primary btn-user btn-block">
                                <hr>
                                <a href="{% url 'accounts:login' %}" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Register with Google
                                </a>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="login.html"> 이미 계정이 있다면, 로그인 하기 </a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="forgot_accounts.html"> ID/PW 찾기 </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>

{% endblock %}
