<div class="wrap">
    <div class="intro_bg">
        <div class="header">
            <div class="logo">
                <a href="/" class="material-icons" style="padding-top: 10px; font-size: 35px;">coffee</a>
                <a href="/" class="logoname">DangCoffee</a>

            </div>

            <ul class="nav">

                <li><a href='/info'>정보</a></li>

                <li><a href='/recommend1'>추천</a></li>

                <!-- 로그인 비활성화 (22.08.18)
                {% if user.is_authenticated %}
                <li><a href="{% url 'accounts:logout' %}"> Logout</a></li>
                {% else %}
                <li><a href="{% url 'accounts:login' %}">Login</a></li>
                {% endif %}
                -->

            </ul>
        </div>
    </div>
</div>

