{% extends 'base.html' %}
{% load static %}

{% block content %}
<script>AOS.init();</script>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>당신을 위한 커피, 당커피</h1>
          <h2>(해당 서비스 간략한 소개 - 추가)</h2>
          <div>
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="{% static '/assets/img/cafe1.jpg' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->


  <br>
  <main id="main">

    <!-- ======= 정보 소개 Section ======= -->
    <section id="info" class="about">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-right" data-aos-delay="200">
            <img class="home-main-image-top" alt="소개 사진1" src="{% static '/assets/img/main_temp1.jpg' %}" width="500" height="500"/>
          </div>
          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
            <h2>'정보 기능' 소개</h2>
            <h3>세부 소개</h3>
          </div>
        </div>

      </div>
    </section>

    <!-- End Section -->

    <br><br>
    <!-- ======= 추천 소개 Section ======= -->
    <section id="recommend" class="about">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <h2>'추천 기능' 소개</h2>
            <h3>세부 소개</h3>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" data-aos-delay="200">
            <img class="home-main-image-top" alt="소개 사진1" src="{% static '/assets/img/coffee2.jpg' %}" width="800" height="500"/>
          </div>
        </div>

      </div>
    </section>
  </main>
  </section>
    <!-- End Section -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/bootstrap.js"></script>

{% endblock %}