{% extends 'base.html' %}
{% load static %}

{% block content %}
<script>AOS.init();</script>

<!-- ======= 당커피 Hero Section ======= -->
 <section id="hero" class="d-flex align-items-center">
    <div class="container text-center position-relative" data-aos="fade-up" data-aos-delay="200">
      <h1>당신을 위한 커피, 당커피</h1>
      <h2>프렌차이즈별 커피 종류들을 한 눈에!</h2>
      <a href="#info" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section>
<!-- End Hero -->

  <main id="main">

    <!-- ======= 정보 소개 Section ======= -->
    <section id="info" class="about">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <h2>'정보 페이지 관한 소개'</h2>
            <h3>세부 소개</h3>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" data-aos-delay="200">
            <img class="home-main-image-top" alt="소개 사진1" src="/static/img/home_img_1.jpg" />
          </div>
        </div>

      </div>
    </section>

    <!-- End Section -->

       <!-- ======= 추천 소개 Section ======= -->
    <section id="recommend" class="about">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <h2>'정보 페이지 관한 소개'</h2>
            <h3>세부 소개</h3>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" data-aos-delay="200">
            <img class="home-main-image-top" alt="소개 사진1" src="/static/img/home_img_1.jpg" />
          </div>
        </div>

      </div>
    </section>

    <!-- End Section -->


{% endblock %}