{% extends 'base.html' %}
{% load static %}

{% block content %}

<section id="home-main-section-top" class="background-pale-peach">
  <div id="home-main-top">
    <div class="home-main-desc">
      <h1 class="home-main-title">웹 서비스<br>소개 1</h1>
      <p class="text-m">
        소개글1_1<br>소개글1_2
      </p>
    </div>
    <div class="home-main-image-top">
       <img class="home-main-image-top" alt="소개 사진1" src="/static/img/home_img_1.jpg" />
    </div>
  </div>
</section>

<section id="home-main-section-top #2" class="background-pale-peach #2">
  <div id="home-main-top #2">
    <div class="home-main-desc #2">
      <h1 class="home-main-title #2">웹 서비스<br>소개 2</h1>
      <p class="text-m #2">
        소개글2_1<br>소개글2_2
      </p>
    </div>
    <div class="home-main-image-top #2">
       <img class="home-main-image-top #2" alt="소개 사진2" src="https://d1unjqcospf8gs.cloudfront.net/assets/home/main/3x/image-1-39ac203e8922f615aa3843337871cb654b81269e872494128bf08236157c5f6a.png" />
    </div>
  </div>
</section>

{% endblock %}